<div class="flex justify-evenly my-20">
  <section>
    <h2 class="font-bold text-2xl">Prix à définir</h2>
    <article
      class="shadow-sm mt-5 flex flex-col max-w-lg rounded-lg p-2 ring-2 ring-indigo-200 ring-opacity-30"
    >
      <ul>
        <ng-container *ngFor="let product of products">
          @if (!product.price) {
          <li>{{ product.name }}</li>
          }
        </ng-container>
      </ul>
    </article>
  </section>

  <section>
    <h2 class="font-bold text-2xl">Produit en promotion</h2>
    <article
      class="shadow-sm mt-5 flex flex-col max-w-lg rounded-lg p-2 ring-2 ring-indigo-200 ring-opacity-30"
    >
      <ul>
        <ng-container *ngFor="let product of products">
          @if (product.promo) {
          <li>{{ product.name }}</li>
          <li class="font-semibold">{{ product.price }} €</li>
          }
        </ng-container>
      </ul>
    </article>
  </section>

  <section>
    <h2 class="font-bold text-2xl">Le reste des produits</h2>
    <article
      class="shadow-sm mt-5 flex flex-col max-w-lg rounded-lg p-2 ring-2 ring-indigo-200 ring-opacity-30"
    >
      <ul>
        <ng-container *ngFor="let product of products">
          @if (product.price !== undefined && product.promo !== true) {
          <li>{{ product.name }}</li>
          <li class="font-semibold">{{ product.price }} €</li>
          }
        </ng-container>
      </ul>
    </article>
  </section>
</div>
